# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea/
*.iml
build/
*.log
*.tmp
.gradle/
**/build/
**/out/
*.jar
*.war
local.properties
*.hprof
*.DS_Store
*.class
*.swp
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
